h1{
    color: black;
}
h2{
    color: blue;
    background-color: aquamarine;
}
.a{
    border: 3 solid black;
    background-color: beige;
}
.b{
    background-color: burlywood;
    
}
table tr, th{
    border-collapse: collapse;
    border: 0ch;
    text-align: left;
    background-color: deeppink;
}
.e{
    color: fuchsia;
}